* {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

tr.registros:hover {
  background-color: black;
}

button {
  width: 80px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: white;
}

button.btn-editar {
  background-color: blue;
}

button.btn-apagar {
  background-color: red;
}

input#btn-salvar {
  background-color: green;
  color: white;
  border: none;
  height: 35px;
  width: 70px;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}

input#btn-atualizar {
  background-color: green;
  color: white;
  border: none;
  height: 25px;
  width: 70px;
  display: none;
  cursor: pointer;
}

input#btn-cancelar {
  background-color: red;
  color: white;
  border: none;
  height: 25px;
  width: 70px;
  display: none;
  cursor: pointer;
}

input#input-id {
  width: 10vw;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;

}

input#input-descricao {
  width: 30vw;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
  margin-left: 50px;
}

input#input-detalhamento {
  width: 30vw;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 50px;
  border-radius: 10px;
}

button#sair {
  background-color: red;
}
